
.dashboard {
  text-align: center;
  padding-top: 5vh;
  background-image: url('/record_img.png'); 
  background-size: 65% auto; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; 
  height: 95vh; /* Take the remaining height of the viewport, adjust as necessary */
}
.dashboard-button {
  margin: 0.5rem; /* Space between buttons */
  padding: 0.75rem 1.5rem; /* Padding inside buttons */
  font-size: 1.2rem; /* Larger font size for buttons */
  border: none; 
  border-radius: 0.5rem; /* Rounded corners */
  cursor: pointer; /* Clickable cursor type */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

.sign-up-button {
  margin-right: 10px; 
}

.login-button {
  margin-left: 10px; 
}

.dashboard h1 {
  margin-bottom: 0.5em; /* Reduce space between h1 anda the paragraph */
  font-size: 2.5em; /* Increase the font size */
}

.dashboard p {
  margin-bottom: 2em; /* Increase space between paragraph and buttons */
}

.dashboard-button:hover {
  background-color: #0056b3; /* Slightly darker shade on hover */
}

.dashboard-button.login {
  background-color: #28a745; /* Different color for login */
}

.dashboard-button.signup {
  background-color: #17a2b8; /* Different color for sign up */
}

.signup-confirmation {
  color: #4A90E2;  
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: center;
}

.message-style {
  padding: 1rem;
  margin-top: 2rem;
  background-color: #e6f9f0; /* Soft green background */
  border-left: 5px solid #2ca5a0; /* Teal accent border on the left */
  font-style: italic;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  border: none;
}

.message-style:hover {
  background-color: #d0efe6; /* A bit darker on hover */
  border-left-color: #20897d; /* Darker teal border on hover */
}

/* Make sure the buttons are not too wide on smaller screens */
@media (max-width: 600px) {
  .dashboard-button {
    display: block; /* Stack the buttons */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .message-style {
    font-size: 1rem;
    padding: 0.5rem;
  }
}