
/* Dashboard.css */
/* .dashboard {
    margin-top: 20px;
    background-color: #f3f3f3;;
  } */

  /* Dashboard.css */
.dashboard {
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  .dashboard > section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background for each section */
    border-radius: 8px; /* Rounded corners for aesthetics */
  }
  
  .dashboard h2 {
    color: #333; /* Dark grey color for headings */
  }
  