/* NavigationBar.css */


.navigation {
  background-color: #333;
  /* background-color: #007bff; */
  color: white;
  padding: 0.5rem 1rem;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.navigation ul {
  list-style-type: none;
  display: flex; /* Flex container for horizontal layout */
  padding: 0;
  margin: 0; /* Reset default margin */
}

.navigation ul li {
  margin-right: 20px;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem; /* Add some padding for a larger clickable area */
}

.navigation ul li a:hover,
.navigation ul li a.active { /* Style for hover and active class */
  background-color: #555; /* Darker background on hover and active */
  border-radius: 5px; /* Rounded corners for aesthetics */
}


.logout-message {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da; /* Light red background for visibility */
  color: #721c24; /* Dark red text color for contrast */
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  width: 100%;
}

